body{
	background: url(http://www.allmacwallpaper.com/get/Retina-MacBook-Pro-15-inch-wallpapers/Autumn-Season-3-2880x1800/755-8.jpg);
	background-size: cover;
}
.text-center {
	text-align: center;
}
.color-white{
	color: white
}
.bold {
	font: bold;
}
.big-font {
	font-size: 16px;
}
.uppercase {
	text-transform: uppercase;
}
.pull-left {
	float: left;
}
.container {
	max-width: 840px;
	margin: 0 auto;
}

.web-terimnal {
  width: 100%;
  background: black;
  color: #16B445;
}

.terminal-header {
  background: #D8D8D8;
  color: black;
  padding: 5px 0;
  font-size: 14px;
  text-align: center;
  border: 1px solid #BCBCBC;
  font-weight: bold;
}

.username {
  padding: 8px;
}

#log-section {
  padding: 10px;
  max-height: 450px;
  min-height: 450px;
  overflow: auto;
}

/*BLINKING CURSOR*/

.cursor, .cursor:focus {
  border:none;
  background: black;
  pointer-events: none;
}
.cursor {
  animation: blink-empty 1s infinite;
  border-left: transparent solid 2px;
  margin:5px 
}
@keyframes blink-empty {
  50% {border-left: 2px solid white;}
}